html, body {
    margin: 0;
    height: 100%;
    justify-content: center;
  }

a {
    color: #697565;
}

div{
    padding: 40px 40px 10px;
    margin: 0px;
    background-color: #181C14;
    text-align: left;
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
    color: #3C3D37;
}

.blinking {
    display: inline;
    animation: blink 1.5s infinite step-start; /* Animation will run forever, changing opacity every 1 second */
  }
  
  
  @keyframes blink {
    0% {
      opacity: 0.7; /* Fully visible */
    }
    50% {
      opacity: 0.3; /* Reduced opacity, making the text more subtle */
    }
    100% {
      opacity: 0.7; /* Back to fully visible */
    }
  }
  
  h3{
    margin-top: 50px;
  }

  footer{
    text-align: center;
    margin-top: 400px;
  }
  